html{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
:root{
    color:rgb(43, 172, 189);
}
.nav{
    background: rgb(9, 81, 121,.8);
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 16px 0px;
    font-family: 'poppins';
    font-weight:bolder;
    align-items: center;
}
.items{
    display: flex;
}
.items p{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.carta1 img{
    width: 100%;
    border-radius: 6px;
}
.carta1{
    height: 28vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(180deg,rgb(43, 172, 189) 50%,white 50%) ;
    margin-bottom: 50px;
}

.contenido1{
    border-radius: 6px;
    border: 1px solid rgb(241, 187, 120);
    margin: 40px;
    padding: 0px 0px;
    background: rgb(9, 81, 121,.2);
}
.contenido1:hover{
    transform: scale(1.1);
}
.main{
    padding-top: 18px;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,80px);
    color: rgb(0, 0, 0);
    background-image:url("img2/wave.svg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif
}
.main-uno{
    grid-column:2/8;
    grid-row: 2/3;
}
.main-uno h2{
    font-size: 52px;
}
.main-uno p{
    font-size: 30px;
}
.main-dos{
    grid-column: 8/13;
    grid-row: 1/3;
}
.main-dos img{
    width: 420px;
}
.galeria {
    color: white;
    margin: auto;
    padding: 10px;
    background-color: rgb(43, 172, 189,.4);
    width: 58%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 160px;
    gap: 20px;
    grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img4"
    "img5 img5 img6 img7"
    "img5 img5 img8 img8" ;
}
.galeria input{
    padding: 8px 10px;
}
.galeria img{
    width: 100%;
    height: 100%;
}
.item-galeria1{
    grid-area: img1;
    text-align: center;
}
.item-galeria2{
    grid-area: img3;
}
.item-galeria3{
    grid-area: img8;
}
.item-galeria4{
    grid-area: img6;
}
.item-galeria5{
    grid-area: img5;
}
.item-galeria6{
    grid-area: img7;
}
.item-galeria7{
    grid-area: img2;
}
.item-galeria8{
    grid-area: img4;
}
.titulo_galeria{
    margin: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 30px;
}